#sunstrike_settnigs_div {
    padding: 10px 0 15px 30px;
    background-color: #f6f6f6;
    border: #e4e4e4 1px outset;
    margin: 10px;
}

#sunstrike_settnigs_title {
    width: 60%;
    display: inline-block;
}
#sunstrike_settnigs_select {
    width: 15%;
    display: inline-block;
}